Dockerfile
.dockerignore
docker*.yml
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/*.cache
*.log
.gitignore
.gitlab-ci.yml
.editorconfig
.env
.gitlab
.idea
.git
*.local.yml
phpunit*.xml
phpstan.neon*
